/*
popover tooltips, and nested menus using button style */
#tooltip-menu-wrapper {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }
}


/* Button bar styling */

#button-bar {
    height: 48px;
    width: 30%;
    min-width: 300px;
    padding: 8px;
    border-radius: 6px;
    background: #eee;
    box-shadow: 1px 1px 3px #999;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

/* Button styling */

#button-bar button {
    border: 1px solid #999;
    border-radius: 4px;
    background: #eee;
    flex: 1;
}

#button-bar button:hover,
#button-bar button:focus {
    background: #ccc;
}

#button-bar button:active {
    box-shadow: inset 1px 1px 2px #333, inset -1px -1px 2px #eee;
}

/* animate popover */
[popover]:popover-open {
    opacity: 1;
    transform: scaleX(1);
}

[popover] {
    font-size: 1.2rem;
    padding: 10px;

    /* Final state of the exit animation */
    opacity: 0;
    /* transform: scaleX(0) translateX(0); */
    --anim-duration: 0.7s;

    transition:
        opacity var(--anim-duration),
        transform var(--anim-duration),
        overlay var(--anim-duration) allow-discrete,
        display var(--anim-duration) allow-discrete;

    /* transition:
        opacity 0.7s,
        transform 0.7s,
        overlay 0.7s allow-discrete,
        display 0.7s allow-discrete; */
    /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
    [popover]:popover-open {
        opacity: 1;
        /* transform: translateX(0.5rem) scaleX(0); */
    }
}

/* Styling auto popovers */

[popover="auto"] {
    inset: unset;
    position: absolute;
    bottom: calc(anchor(top) + 20px);
    justify-self: anchor-center;
    margin: 0;

    width: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    background: #eee;
    box-shadow: 1px 1px 3px #999;
    border: none;
}

[popover="auto"] button {
    border: 1px solid #999;
    border-radius: 4px;
    background: #eee;
    width: 100%;
    line-height: 1.5;
}

[popover="auto"] button:first-of-type {
    margin-bottom: 8px;
}

[popover="auto"] button:hover,
[popover="auto"] button:focus {
    background: #ccc;
}

[popover="auto"] button:active {
    box-shadow: inset 1px 1px 2px #333, inset -1px -1px 2px #eee;
}

/* Styling hint popovers */

[popover="hint"] {
    /* background: #271717;
    background: hsl(226, 38%, 37%);
    background: hsl(223, 31%, 18%); */
    background: hsl(222, 30%, 37%);

    inset: unset;
    position: absolute;
    top: calc(anchor(top) + 100px);
    justify-self: anchor-center;
    margin: 0;

    padding: 8px;
    border-radius: 6px;

    color: whitesmoke;
    box-shadow: 1px 1px 3px #999;
    border: none;
}